body {
  font-family: Helvetica;
  text-align: center;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.subtext {
  font-size: 14px;
}

.navigation {
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.newyork {
    background-image: url('./images/the-flatiron-building.png');
}

.footer {
  font-size: 11px;
  color: white;
  text-align: left;
  background-color: dimgray;
}

#title {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

#designed {
  font-size: 23px;
  font-weight: bold;
  color: white;
}
